.font14{
font-size: 0.875rem;
}

.font15{
  font-size: 0.938rem;
  }

.form-control{
  border-color:#b4b4b4;
  color:$dark;
  height:50px;
  @include upto-xxlarge-width{
    height:44px;
  }
  padding: .375rem 1rem;
  &:focus {
       border-color: #ff4b95;
      box-shadow: 0 0 0 .25rem rgba(239, 59, 134, 0.384);
  }
  &::placeholder{
      color:#7d7d7d;
  }
}

.custom-select{
  height: 50px;
  /*font-family:arial; */
  font-size: 15px;
  color: #111;
  border-color:#b4b4b4;

  @include upto-xxlarge-width{
    height:44px;
  }
}
.text-danger{ color:#e91919;}
.forminheight{ min-height: 100%;}
.poscl{ left:25px; background: #fff; top:-13px; padding: 0 10px; color:#666;}
.pinkradiobtn{ border-radius: 50px; color:#111; border:1px solid #111; min-width: 134px; font-weight: 700;  &:hover{
  background: $pink; border:1px solid $pink; color:#fff;
} 
&.active{ 
  background: $pink; border:1px solid $pink; color:#fff;
}
}

.btn-group>.btn-group:not(:last-child)>.btn.pinkradiobtn, .btn-group>.btn.pinkradiobtn:not(:last-child):not(.dropdown-toggle)
{
  border-radius: 50px;
  margin-right: 10px;
}

.btn-group>.btn-group:not(:first-child)>.btn.pinkradiobtn, .btn-group>.btn.pinkradiobtn:not(:first-child){
  border-radius: 50px;
  margin-right: 0px;
}

.custom-select:focus{  -webkit-box-shadow: 0 0 0 0.25rem rgba(239, 59, 134, 0.384);
  box-shadow: 0 0 0 0.25rem rgba(239, 59, 134, 0.384); border-color: #ff4b95; }
.datepickerdiv-cl{  .input-group-btn { position:absolute; right:0; .btn:focus, .btn.focus {box-shadow:none;}  } .btn-secondary{ background:#fff; border:#fff; color:#000; 
  &.active{ background: $pink !important; color:#fff; opacity: 1;}
  &:not(:disabled):not(.disabled):active , &:not(:disabled):not(.disabled).active, &.dropdown-toggle { background:$bluecl; border-radius:100%;   .text-info{ color:#000 !important; }    } /*  .text-info{ color:#000 !important; }*/ &:focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus, &.dropdown-toggle:focus { box-shadow:none; background:$bluecl; color:#fff; svg{fill:#fff;}   }     }     }
.forcustom{ .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $pink !important	;
    background-color: $pink !important;
} 

.custom-control-input:focus ~ .custom-control-label::before{  border:1px solid #bababa !important;  box-shadow: 0px 0px 12px 0px rgba(86, 86, 86, 0.27);}

 }
 
 
.commontittle{ h1{margin:0; @include font-size(24px); font-weight:600; letter-spacing:0.5px;}   }
.box-shadow-cl{  box-shadow: 0px 0px 12px 0px rgba(86, 86, 86, 0.27); }
.bxcl{border:1px solid #bababa; border-radius: 5px; padding: 15px 10px; text-align: left; }
.activecl{ /*background:$pink; color:#fff;*/ @extend .box-shadow-cl; color:$pink;     }
.bdr{border:1px solid #bababa;}
.searchbox{ @extend .bdr; border-radius:0; height:44px; position:relative; }
.info-heading{ font-size:18px; letter-spacing:1px;}
.morebtn{ .more{ font-size:.875rem; font-weight: 700;   @extend .bdr;  max-width:330px; width:100%; text-align:center; height:50px; border-radius:5px; transition:all 0.5s ease; &:hover{ @extend .activecl; }   }   }
.searchlable {  position: absolute;
    z-index: 5;
	left:15px;
    /*left: 24px;
    top: 8px;*/ @include center(vertical); margin:0; }

.searchicon{ position:relative;}	

.commoncard-cl{ .card{border:0; border-radius:0; box-shadow:0px 0px 15px rgba(0,0,0,0.3); .card-header{ background:#fff; position:relative; }  }  }	
.citylist-cl{  .citylist{  position:relative; margin:0 -10px 0 -10px ; padding:0; display:flex; flex-wrap:wrap;  .citydiv{    transition:all 0.5s ease;  list-style:none; /*width:25%;*/ width:33.33%; padding:10px;  .citytext { font-weight: 700; border:1px solid #bababa; padding:10px; text-align:center; display:block; font-size:.875rem; text-transform:capitalize; color:#111; cursor:pointer; border-radius: 5px; &:hover{   box-shadow: 0px 0px 12px 0px rgba(86, 86, 86, 0.27);  }   }  text-align:center;  @include upto-small{width:50%;} 
@include small-desktop{ width:33.33%; }
&.active{ opacity:1 !important; .citytext { @extend .activecl; border:0; color:$pink; z-index:3; position:relative;  }   }

  } .showdiv{ border-radius: 5px;  z-index:2; position:absolute; display:none;  width:calc(100% - 14px ); justify-content:center;  left:10px;  background:#f6f6f6; border:1px solid #b6b6b6; padding:5px; .smdiv{ border-radius: 5px;  background:#fff; padding:5px 25px; border:1px solid #b6b6b6; margin:5px; color: #666; font-size: 0.875rem;  a   { cursor:pointer;  &:hover, &:focus{ color:$pink; }   } a{ color:inherit;}  }  display:flex; flex-wrap:wrap; 
@include upto-small{ padding:5px; width: calc(100% - 10px); .smdiv{ padding:5px; margin:3px; font-size:11px;} }
 margin:10px 0 0 0;
  } .blurcl{ filter: blur(1px);} } }
  
.iconlist-cl {  .iconlist { ul{ display:flex; flex-wrap:wrap; margin-left:-10px; margin-right:-10px;   li { display:flex; width:20%; padding:10px; list-style:none; text-align:center; & > a{ /* min-height:150px;*/ min-height:120px; border-radius: 5px; cursor: pointer;  width:100%; min-width:100% !important;  @extend .bdr; padding:5px; img{ margin-bottom:10px; filter: grayscale(0%); } span{ display:flex; flex:1 1 100%; justify-content:center;  clear:both; font-weight: 700; font-size: 0.875rem; text-transform: capitalize;  }  &:hover{/* @extend .bxcl;*/  } height:100%; display:flex; align-items:center; flex-wrap:wrap; justify-content:center; color:#383838;   }  @include upto-small { width:50%;}  @include small-desktop{ width:25%; } &.active { a { background:$pink; color:#fff;  box-shadow:0 0 20px #c8c8c8; border:0px solid transparent;   }  }    } }  } } 

.model-list-cl{ .model-list{
  ul{ display:flex; flex-wrap:wrap; margin-left:-10px; margin-right:-10px;   li { display:flex; width:20%; padding:10px; list-style:none; text-align:center; & > a{ cursor: pointer; font-weight: 700; font-size: 0.875rem;  justify-content:center;  width:100%; height:100%; display:flex; align-items:center; border-radius: 5px;   @extend .bdr; min-height:50px; padding:5px; color:inherit;   span{ display:block; clear:both;}  &:hover{  @extend .activecl;  }  }  @include upto-small { width:50%;} ; @include small-desktop { width : 25%; } &.active { a {  @extend .activecl;  }  }   } } 
  } }
  

.variant-list-cl{  .variant-list{
  ul{ display:flex; flex-wrap:wrap; margin-left:-10px; margin-right:-10px;   li {  display:flex; width:25%; padding:10px; list-style:none; text-align:center; & > a{   word-break: break-word;  cursor: pointer; justify-content:center;  width:100%; height:100%; display:flex; align-items:center; border-radius: 5px;  font-weight: 700; font-size: 0.875rem;     @extend .bdr;  color:inherit;    padding:5px;   &:hover{  @extend .activecl;  }  }  @include upto-small { width:50%;}  @include small-desktop{ width:25%; }  &.active { a { @extend .activecl;  }  }   } }
  }   }

.Reg-year-list-cl{

 .Reg-year-list{
  ul{ display:flex; flex-wrap:wrap; margin-left:-10px; margin-right:-10px;   li { display:flex; width:20%; padding:10px; list-style:none; text-align:center; & > a{  font-weight:normal; cursor: pointer; font-weight: 700; font-size: 0.875rem;  width:100%;  @extend .bdr;  padding:15px; border-radius: 5px; color:inherit;   &:hover{ @extend .activecl;   }  }  @include upto-small { width:50%;}  @include small-desktop{ width:25%; }   &.active { a { @extend .activecl;  }  }   } }
  }  
  
}

.policylist-cl{
  .policylist{
    ul{ display:flex; flex-wrap:wrap; margin-left:-10px; margin-right:-10px;   li { display:flex; width:25%; padding:10px; list-style:none; text-align:center; & > a{  font-weight:normal;  line-height: normal; min-height: 46px; display: flex; align-items: center; justify-content: center; cursor: pointer; font-weight: 700; font-size: 0.875rem;  width:100%;  @extend .bdr;  padding:5px; border-radius: 5px; color:inherit;   &:hover{ @extend .activecl;   }  }  @include upto-small { width:50%;}  @include small-desktop{ width:33.33%; }   &.active { a { @extend .activecl;  }  }   } }
    }  

}

.backarrow{ position:absolute; left:15px; top:10px;}
.dateinput{.form-control{ border-radius:5px !important; height:50px; padding-right:40px; @include upto-xxlarge-width{
  height:44px;
} /*padding:9px 15px !important;*/  } .input-group-append{  .input-group-text{ background:#fff; /*border-color:rgba(148, 148, 148, 0.2); */ border-left:0; border-color: #bababa!important;
 border:0;  
}  position: absolute; right:1px; top:1px; z-index: 5; height: calc(100% - 2px); } @extend .datepickerdiv-cl;  }

.commonpopup{ .modal-header { background:#fff; border:0; h3{width:100% ; color:#111; font-size:1.313rem; font-weight: 700; text-align: center;} } 

.modal-body{ background:#fff; padding-left: 30px; padding-right: 30px; }
.hr{ background: #fefefe; width: 100%; height:1px; margin: 0 0 20px 0; }
.modal-footer{ border-top: 0; padding-top: 0; justify-content: center; background:#fff;}

.modal-content{ background: transparent; padding: 30px; border: 0;} .btn-close{ position:absolute; right:-15px; padding: 0; @include upto-small{ right:0} 

}
.btn-close{ position:absolute; right:-15px; padding: 0; @include upto-small{ right:0} }
.form-control{ height:50px;}
.mgt{ margin-top: 37px; @include upto-medium{  margin-top: 15px; } }
.modal-dialog{ @include small-desktop { max-width: 700px;} }

.custom-file{ height:50px;}
  .custom-file-label:after{ height:50px; display: flex; align-items: center; background: $pink; color:#fff;  content: "Upload Files";}
  .custom-file-input{ height:50px; line-height: 34px;}
  .custom-file-label{ height:50px; display: flex; align-items: center;}
  .custom-select{ height: 50px;}
  .custom-file-input:focus~.custom-file-label{ border-color:$pink; box-shadow: 0 0 0 0.2rem rgba(240, 65, 137 , 0.25);}
  

  &.highlightpop{
    @include upto-medium{
      
      .highlight-m h2 { font-size: 1rem;}
      .modal-content{
        padding: 10px;
      }

      .modal-body{
        padding:10px;
      }

      .btn-close{ right:15px; z-index: 1;}
    }
  
  }


  .custom-file-input:lang(en)~.custom-file-label:after {
    content: "Upload Files";
}

}

.policypop{

  .custom-file-input:lang(en)~.custom-file-label:after{
    content: "Upload Files";
  }

  .custom-wd{ width: 329px; padding-top: 10px;}
  .custom-file{ height:50px;}
  .custom-file-label:after{ height:50px; display: flex; align-items: center; background: $pink; color:#fff;}
  .custom-file-input{ height:50px; line-height: 34px;}
  .custom-file-label{ height:50px; display: flex; align-items: center;}
  .custom-select{ height: 50px;}
  .custom-file-input:focus~.custom-file-label{ border-color:$pink; box-shadow: 0 0 0 0.2rem rgba(240, 65, 137 , 0.25);}
  
}

.planlist-page{
  
  .progress{ height:6px;  .progress-bar{ background-color: $pink;  }   }

  .absolutepostext{
    position: absolute;
    top: -18px;
    background: #fff;
    padding: 5px 8px;
  }  
.planlistbg{ background:#f6f6f6;}
.plan-list-top{ color:#252a37; background: #fff; padding:0px 30px; border-radius: 5px; @extend .box-shadow-cl; }
.bdr-radius{border:2px solid #e3e3e3; border-radius:10px;}
.forpd{ padding: 30px; @include upto-x-small { padding:5px;}  @include upto-small { padding:10px;}  }
.card.openpanel{  font-size: 1rem; .card-header{ border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 0;
 /* background: $pink; color: #fff; border:1px solid $pink; */
h5{ font-size: 1rem; /*font-weight: 700;*/}
}  
.card-body{ h3{ font-weight: 700; font-size: 1rem; } }
}	

.card { border: 0;    .card-header{ background:#fff; border:1px solid #a7a7a7; border-radius: 5px;  a{ color:#111; display: flex; justify-content: space-between; border:0px; border-radius: 5px; font-size:1rem; span{ display: flex; justify-content: space-between; width: 100%; i{ float:right; margin-left:10px; }     }  }    }  .card-body{ border:1px solid #a7a7a7; /*background:#f6f6f6;*/ background: #fff; border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; } margin-bottom:10px;
&.card-open{
  .card-header{
   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
    /*background:$pink;
    color:#fff;
    border:1px solid $pink;*/
    a{/*color:#fff; font-weight: 700;*/ }
   }

   &.pinkback{   .card-header{
    background:$pink;
  color:#fff;
  border:1px solid $pink;
  span{ color:#fff;}
   }
  }
}

}

.leftside{ @extend .forcustom; .custom-control-label::before {border-color:#252a37;}  .logocontainer{ background:#e3e3e3;  }  .recalculatebtn { background: $pink; color:#fff; border-radius: 5px; padding: 10px 5px; text-transform: capitalize; text-align: center;   }  .custom-control-label{ color:#252a37; }   }

.righside{ .planlistdiv{  border: 1px solid #a7a7a7; border-radius: 5px; .coverdiv{ @include xlarge-width{ max-width: 220px; }  } .productlogo{ width: 120px; } .addon-detailtext{ font-size: 14px; }   
.premiumlinktext{ font-size: 0.938rem; a{ position: relative; padding: 0 0 0 10px;  &:before{content:'|';  position: absolute; left:1px;  }  &:first-child{ padding-left:0;   &:before{ display:none; }  }  }   } .btn-pink{ font-weight: 600; i{ font-size: calc( 100% - 1px);}  }
}   .boxdivchild{ /*color:#252a37;*/  box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important; .plan-det{ padding:10px 0; &:after{content:''; height:1px; width:60%; position:absolute; bottom:0; background:#ededed;left:50%; transform:translateX(-50%);   } position:relative;   } background:#fff;  overflow:hidden; .logocontainer{ background:#e3e3e3; border-bottom:1px solid $bluecl; padding-top:5px; padding-bottom:5px; img{max-height:60px;}   }  .carbtn{ @extend .orangebtn;   min-width:150px; font-weight:600 !important; font-size:22px; &:hover{color:#fff;}    }  height:100%; background:#fff; .greytext{ color:#949494; }   } .whitebg{ background:#fff; border-radius:10px; } .topbar{ background:$pink; a{color:#fff;} color:#fff; border-radius:5px; padding:5px 15px; .premium-sorting{ .custom-select{ height:35px;  color:#fff; padding:0px 25px 0px 5px; border:0; border-radius:0; border-bottom:1px solid #fff; background: url("../img/down-arrow-wh.svg") no-repeat right 0.5rem center/12px 6px ; &:focus{ box-shadow:none; } font-size: 15px;  option{ background:#f6f6f6; color:#545454; }   }    }     } .sm--logos{img { width:70%; } } .dontgetquote{ background: $greycol;  color:#111; border-radius: 5px; font-size: 13px;  }  }

.customwidth{ 
  @include medium{
    width: 350px;
  }
  
}

	}
  .planlistpage { .modal-content{ background: transparent; padding: 30px;} .btn-close{ position:absolute; right:-15px; padding: 0; @include upto-small{ right:0}   } 
  .modal-dialog{ @include small-desktop { max-width: 700px;} }
}
.premium-breakup-extend{
  
.complogo{max-width:200px;}
.leftside{
  font-size: 0.875rem;
ul{
li{ list-style:none;  display: grid; background:#eee; border-radius:5px; padding:5px 10px; margin-bottom:10px;
  grid-template-columns: 60% 40%; span{  } span.value2{ position:relative; &:before{ content:':'; left:0; top:0; color:#010101; position:absolute; }  }  }
}

/*box-shadow:0 10px 8px rgba(0,0,0,0.1);*/
padding:10px;
height:100%;

@include xlarge-width{ padding:30px;}

}
.rightside{ font-size: 0.938rem;
.poptitle{justify-content:space-between;}
h2{  margin-bottom: 0; font-size:1.125rem; @include upto-small { padding-left:10px; }   }
.borderbox{ border-top:1px solid #c8c8c8; h3{ font-weight:700; font-size: inherit; margin:0 0 10px 0;  } .details{ li{ display:flex; span{ width:50%;}  }}  }
.table-div{ display:flex;color:#111; .darkgreybg{ background:#eeeeee;} .lightgreybg{ background:#f8f8f8;} .col1{ width:45%;} .col2{ width:20%;} .col3{ width:35%;} .bdrleftright{ border-right:1px solid #000;  border-left:1px solid #000;  }  }
padding-right: 15px; padding-bottom: 30px;
@include xlarge-width{ padding-left: 0px; padding-right: 30px; padding-bottom: 30px;}
}
.panel-body{  background: #fff; border-radius: 5px;  padding:0; overflow:hidden; .pdr{ @include small { padding-right:0; } } }

.details{ i{ font-size:12px; }   }
}	

.datepickerdiv-cl{  .input-group-btn { position:absolute; right:0; .btn:focus, .btn.focus {box-shadow:none;}  } .btn-secondary{ background:#fff; border:#fff; color:#000; &:not(:disabled):not(.disabled):active , &:not(:disabled):not(.disabled).active, &.dropdown-toggle { background:$bluecl; border-radius:100%; opacity: 1;   .text-info{ color:#fff !important; }    }  .text-info{ color:#000 !important; } &:focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus, &.dropdown-toggle:focus { box-shadow:none; background:$pink; color:#fff; svg{fill:#fff;}   }     }     }

.after-plan{

  .after-plan-detail{
    @include white-box(0px);
    padding: 15px !important;
    font-size: 0.938rem;
    .compimg{ max-width: 110px;}
    @include xlarge-width { .bdright { border-right:1px solid #d1d1d1; }  .max-w-fifteen{ max-width: 150px;}  }
    
  }
.tab-content-detail{
  @include white-box(0px);
 
}

.bottom-box{
  padding:15px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
 
 
      @include position(relative, auto, 0, 0, 0 );
 display:flex;
 justify-content: space-between;
}

}

.review-n-pay{

  .greybg-bdr{
    border:1px solid #a9a9a9; padding: 25px; background: #f6f6f6; border-radius: 5px;
  }
  .review-n-pay-detail{
    @include white-box(0px);
    padding: 15px !important;
    font-size: 0.938rem;
    .compimg{ max-width: 110px;}
    @include xlarge-width { .bdright { border-right:1px solid #d1d1d1; }  .max-w-fifteen{ max-width: 150px;}  }
    
  }

  .review-n-pay-content{
    @include white-box(0px);
   h3{
     font-size: 1.125rem; font-weight: 700; margin-bottom: 18px;
   }
  }
}




